# Pandas Cheatbook
---

>#### Different ways of creating a DataFrame

- `pd.DataFrame(name)` = where name refers to ...
    - dictionary: specify key-value pairs
    - tuple list: specify the column names in the DataFrame parentheses as `columns=[]`
- `pd.read_csv(file_path)` = reading from a csv file
- `pd.read_excel(file_path, sheet_name)` = reading from an excel file

>#### Reading the Data

- *`pd.read_csv` parameters...*
    - `skiprows=<num_of_rows>` OR `header=<index_row_num>`: for skipping invalid headers in the original csv file
    - `header=None` and `names=['column1', 'column2','column3']`: in case of non-existent headers
    - `nrows=<num_of_rows>`: restricting a large dataframe to a certain number of rows
    - `na_values=['N/A', 'Not available']`: replace the following with `NaN` to correctly label the incomplete values. for column-specific replacement pass a dictionary with keys as column names, and corresponding values as a list of words to be replaced
    - `parse_dates=[column_name]`: convert the column that has date values as strings to timestamps

- *`pd.read_excel` parameters...*
    - `converters = {'column_name': function}`: define a function that takes in a single cell as an argument and returns a different name/value once that condition is satisfied

In [1]:
import pandas as pd

# reading the data from the csv file into a variable
file_name = "nyc_weather_data.csv"
df = pd.read_csv(file_name, parse_dates=['EST'])

>#### Writing to a CSV file

- *`dataframe.to_csv()` parameters...*
    - `"<file_name>.csv"`
    - `index=False`: removes the self-computed index column (visible on terminal)
    - `columns=[column1, column2]`: export only the specified columns in the new csv file
    - `header=False`: removes the header in the exported csv

- *`dataframe.to_excel()` parameters...*
    - `"<file_name>.xlsx"`
    - `sheet_name="<sheet_name>"`
    - `startrow=<row_num>`, `startcol=<col_num>`: offset table at row_num and col_num

- Write individual dataframes to a single excel file using...
```
with pd.ExcelWriter('filename.xlsx') as writer:
    df_1.to_excel(writer, sheet_name="sheet1")
    df_2.to_excel(writer, sheet_name="sheet2")
```

In [2]:
# create a subset of the dataframe and export it to a new csv file
df_10rows = pd.read_csv(file_name, nrows=10)
df_10rows.to_csv('nyc_weather_data_10rows.csv', index=False)

>#### DataFrame Structure (Rows and Columns)

In [3]:
# checking the shape (i.e. number of rows and columns)
print(df.shape)
# Output: (rows, columns)

# prints all the columns in the dataframe
df.columns

(31, 11)

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [4]:
df.head() # prints the first 5 rows of data
df.tail() # prints the last 5 rows of data

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
26,2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
27,2016-01-28,37,20,51,29.90,10,5.0,0,1,NaN,234
28,2016-01-29,36,21,50,29.58,10,8.0,0,4,NaN,298
29,2016-01-30,34,16,46,30.01,10,7.0,0,0,NaN,257
30,2016-01-31,46,28,52,29.90,10,5.0,0,0,NaN,241

In [5]:
# prints all entries in a specific column
df.EST #or df['EST'] --> use this when the column name has spaces

# print all entries in multiple specified columns
df[['EST','Temperature','DewPoint']]

# returns the type of the object
type(df.EST) # all pandas columns are in series type

pandas.core.series.Series

>#### Selecting rows and columns from a Dataframe (The Proper (Explicit) Way !)

- `dataframe.loc[row_index,column_name]` is used for filtering rows (**by the row index**) and columns (**by the column name**). It is inclusive of both, first and last numbers

- `dataframe.iloc[row_index,column_index]` is used for filtering rows and columns by **integer position**. `iloc` is inclusive of the first, but exclusive of the last index

-

In [23]:
#---------------  .loc ---------------
# first row and all columns
df.loc[0,:]

# first 3 rows and first 3 columns
df.loc[0:2,'EST':'DewPoint']

# first and third row, first and third column
df.loc[[0,2],['EST','DewPoint']]

#---------------  .iloc ---------------
# first row and all columns
df.iloc[0,:]

# first 3 rows and first 3 columns
df.iloc[0:3, 0:3]

# first and third row, first and third column
df.iloc[[0,2],[0,2]]

    EST  DewPoint
0  True      True
2  True      True

>#### Basic Stats about a Dataframe

- `dataframe[column_name].max()` = returns the maximum value of the series
- `dataframe[column_name].min()` = returns the minimum value of the series
- `dataframe[column_name].mean()` = returns the mean value of the series

- `dataframe.describe()`= returns the count, mean, standard deviation, quartiles, min and max value of all the numerical data (grouped by column_name) in the data frame

In [6]:
df.describe()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,28.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.892857,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,2.871821,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,2.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.500000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

>#### Conditional Statements

In [7]:
# print all the rows where the temperature is greater than 34
df[df['Temperature'] >= 34]

# print all the rows where the dew point is maximum
df[df['DewPoint'] == df['DewPoint'].max()]

# print only the temp, dew and windspeed when humidity is least
df[['Temperature', 'DewPoint','WindSpeedMPH']][df['Humidity']==df['Humidity'].min()]

   Temperature  DewPoint  WindSpeedMPH
6           39        11           2.0

>#### Indexing a DataFrame

In [8]:
# using one of the columns as an index
df_ESTindex = df.set_index('EST')
# you can also modify the original dataframe by: df.set_index('EST', inplace=True)

# returns the row where the date (i.e. EST) = '1/5/2016'
df_ESTindex.loc['1/5/2016'] 
# type = pd.series

# resetting the index to the original one
df_ESTindex.reset_index(inplace=True)

>#### Handling Missing Values

- *`dataframe.fillna(value)` parameters ...*
    - `value`: replaces 'NaN' with the specified value. Doesn't change the original dataframe unless `inplace=True` is specified. Pass a dictionary with key as column name and value as replacement word/number to fill comlumn-specific NaN values

    - `method="ffill"` OR `method="bfill"`: fills the value from the previous rows OR the next row (by default)

    - `axis='rows'` OR `axis='columns'`: fills the value from the rows OR columns

    - `limit=<num>`: carryforwards the value only a certain number of times

- *Use `dataframe.interpolate()` for filling in numerical data...*
    - `method='linear'`: default
    - `method='time'`: takes into account the time aspect in relation with the data. For this, the date column needs to be in timestamp formate and set as an index of the dataframe

- *Use `dataframe.dropna()` to drop rows that have at least 1 NaN value*
    - `how="all"`: drop rows that have all NaN values
    - `thresh=<num>`: keep the rows that have at least a certain number of non-NaN values and drop the rest

- *`dataframe.replace()`*
    - `.replace(value, correct_value)`: replace value/list/dictionary of values with the correct_value/list of correct_value (accordingly)
    OR
    - use a dictionary to map out incorrect data (as keys) with correct data (as values)
    - use regex to detect patterns and replace data accordingly.
    ```
    df.replace({
        'column1': '[A-Za-z]'
    }, '', regex=True)
    # replaces any text(upper or lower) with a blank space
    ```

In [9]:
# replace NaN with 'No Event' in 'Events' column
df_replaceNaN = df.fillna({
    'Events':'No Event'
})

# fills the current row with the next row's value
df_rainbfill = df.fillna(method="bfill", limit=1, axis='rows')

# drop all rows that have atleast 1 NaN value
df_dropNA = df.dropna()

>#### Group By (Split Apply Combine - Function)

In [10]:
events = df.groupby('Events')
# returns 2 values: key (i.e. event) and 
# a mini-dataframe corresponding to that key (i.e. event_df) 

for event, event_df in events:
    print(event)
    print(event_df)

# get a specific dataframe relating to a specific group
events.get_group('Snow')

# to get the basic stats for each group
events.describe()

Fog-Snow
          EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
16 2016-01-17           36        23        66                 29.78
22 2016-01-23           26        21        78                 29.77

    VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover    Events  \
16                8           6.0            0.05           6  Fog-Snow
22                1          16.0            2.31           8  Fog-Snow

    WindDirDegrees
16             345
22              42
Rain
          EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
8  2016-01-09           44        38        77                 30.16
9  2016-01-10           50        46        71                 29.59
15 2016-01-16           47        37        70                 29.52
26 2016-01-27           41        22        45                 30.03

    VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover Events  \
8                 9           8.0               T           8   Rain
9                 4           NaN             1.8           7   Rain
15                8           7.0            0.24           7   Rain
26               10           7.0               T           3   Rain

    WindDirDegrees
8               76
9              109
15             340
26             311
Snow
          EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
17 2016-01-18           25         6        53                 29.83
21 2016-01-22           26         6        41                 30.21
23 2016-01-24           28        11        53                 29.92

    VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover Events  \
17                9          12.0               T           2   Snow
21                9           NaN            0.01           3   Snow
23                8           6.0               T           3   Snow

    WindDirDegrees
17             293
21              34
23             327

         Temperature                                                       \
               count       mean       std   min    25%   50%    75%   max
Events
Fog-Snow         2.0  31.000000  7.071068  26.0  28.50  31.0  33.50  36.0
Rain             4.0  45.500000  3.872983  41.0  43.25  45.5  47.75  50.0
Snow             3.0  26.333333  1.527525  25.0  25.50  26.0  27.00  28.0

         DewPoint             ... CloudCover      WindDirDegrees         \
            count       mean  ...        75%  max          count   mean
Events                        ...
Fog-Snow      2.0  22.000000  ...       7.50  8.0            2.0  193.5
Rain          4.0  35.750000  ...       7.25  8.0            4.0  209.0
Snow          3.0   7.666667  ...       3.00  3.0            3.0  218.0


                 std   min     25%    50%     75%    max
Events
Fog-Snow  214.253355  42.0  117.75  193.5  269.25  345.0
Rain      135.712932  76.0  100.75  210.0  318.25  340.0
Snow      160.252925  34.0  163.50  293.0  310.00  327.0

[3 rows x 64 columns]

>#### Concatenating Dataframes

- *`pd.concat()` parameters...*
    - `ignore_index=True`: start index the sequentially for the combined dataframe
    - `keys=[]`: to label/differentiate the concatenated dataframes. `ignore_index=False` for this to work
    - `axis=0` OR `axis=1`: append 2nd dataframe as rows OR cols

- *`pd.merge()` chooses the intersection/common elements from each dataframe and merges it onto a common column. Its parameters are...*
    - `dataframe1`, `dataframe2`
    - `on="<common_column_name>"`
    - `how="outer"`: outer/full join ie. union (`how="inner"` by default; other options include "left", "right")
    - `indicator=True`: adds a column to highlight where the data came from
    - `suffixes=("_name1", "_name2")`: to add suffixes to columns with the same name but different values in both dataframes

In [11]:
small_df_1 = pd.DataFrame({
    "city": ["mumbai","bangalore","pune"],
    "temp": [35,40,23],
    "humidity": [53,60,55]
})

small_df_2 = pd.DataFrame({
    "city":["london","ramsgate","manchester"],
    "temp": [10,20,15],
    "humidity": [30,57,40]

})

small_df = pd.concat([small_df_1, small_df_2],
                    keys=["india","uk"], axis=0)

# print the specific dataframe using the key
small_df.loc['india']

# append a series
series_india = pd.Series([20,10,40],name='windspeed')
small_df_1 = pd.concat([small_df_1,series_india], axis=1)
small_df_1

        city  temp  humidity  windspeed
0     mumbai    35        53         20
1  bangalore    40        60         10
2       pune    23        55         40

In [12]:
small_df_3 = pd.DataFrame({
    "city": ["mumbai","bangalore","pune"],
    "humidity": [53,60,55]
})

small_df_4 = pd.DataFrame({
    "city":["mumbai","pune","ramsgate"],
    "temp": [10,20,15]

})

# inner join
small_df_5 = pd.merge(small_df_3, small_df_4, on='city')

# outer join
small_df_6 = pd.merge(small_df_3, small_df_4, on='city', how="outer", indicator=True)
small_df_6

        city  humidity  temp      _merge
0     mumbai      53.0  10.0        both
1  bangalore      60.0   NaN   left_only
2       pune      55.0  20.0        both
3   ramsgate       NaN  15.0  right_only

>#### Pivots and Pivot Tables

**Pivot**: Transforms/reshapes data
**Pivot Table**: Summarises and aggregates data inside dataframe

- *`dataframe.pivot()` parameters...*
    - `index="<column_name1>"`: the row index
    - `columns="<column_name2>"`: the column index
    - `values="<column_name3>"`: (optional) if there's only a specific column to be outputted

- *`dataframe.pivot_table()` parameters...*
    - `index="<column_name1>"`: the row index 
    OR can use `index = pd.grouper(freq="M",key="date_column")` to group by month <-- [`date_column` must be in datetime format]
    - `columns="<column_name2>"`: the column index
    - `aggfunc="mean"` OR `aggfunc="sum"` : values aggregated using mean or sum

In [13]:
df.pivot(index="EST", columns="Events",  values="DewPoint")

Events       NaN  Fog-Snow  Rain  Snow
EST
2016-01-01  23.0       NaN   NaN   NaN
2016-01-02  18.0       NaN   NaN   NaN
2016-01-03  21.0       NaN   NaN   NaN
2016-01-04   9.0       NaN   NaN   NaN
2016-01-05  -3.0       NaN   NaN   NaN
2016-01-06   4.0       NaN   NaN   NaN
2016-01-07  11.0       NaN   NaN   NaN
2016-01-08  29.0       NaN   NaN   NaN
2016-01-09   NaN       NaN  38.0   NaN
2016-01-10   NaN       NaN  46.0   NaN
2016-01-11   8.0       NaN   NaN   NaN
2016-01-12  15.0       NaN   NaN   NaN
2016-01-13   4.0       NaN   NaN   NaN
2016-01-14  12.0       NaN   NaN   NaN
2016-01-15  31.0       NaN   NaN   NaN
2016-01-16   NaN       NaN  37.0   NaN
2016-01-17   NaN      23.0   NaN   NaN
2016-01-18   NaN       NaN   NaN   6.0
2016-01-19   3.0       NaN   NaN   NaN
2016-01-20  15.0       NaN   NaN   NaN
2016-01-21  11.0       NaN   NaN   NaN
2016-01-22   NaN       NaN   NaN   6.0
2016-01-23   NaN      21.0   NaN   NaN
2016-01-24   NaN       NaN   NaN  11.0
2016-01-25  18.0       NaN   NaN   NaN
2016-01-26  29.0       NaN   NaN   NaN
2016-01-27   NaN       NaN  22.0   NaN
2016-01-28  20.0       NaN   NaN   NaN
2016-01-29  21.0       NaN   NaN   NaN
2016-01-30  16.0       NaN   NaN   NaN
2016-01-31  28.0       NaN   NaN   NaN

In [14]:
df_2 = pd.DataFrame({
    "city":["new york", "new york", "new york", "mumbai", "mumbai", "mumbai"],
    "temp":[65,61,70,72,75,78],
    "humidity": [56,57,60,82,45,55]
})

df_2.pivot_table(index="city",aggfunc="mean",margins=True)

           humidity       temp
city
mumbai    60.666667  75.000000
new york  57.666667  65.333333
All       59.166667  70.166667

>#### Stack and Unstack

Useful for data with multiple headers

*`dataframe.stack()` parameters...*
- `level=<num>`: define the header index upon which the data is to be stacked

*`stacked_dataframe.unstack()`* = to get original dataframe back

In [15]:
file_name = "stocks.xlsx"

stocks_df = pd.read_excel(file_name, header=[0,1], index_col=0)
stocks_df

              Price                       P/E
Company    Facebook Google Microsoft Facebook Google Microsoft
2017-05-06      155    955        68     34.5   36.0      29.8
2017-06-06      150    925        75     40.1   37.8      30.0
2017-07-06      160    930        60     39.5   40.0      31.0
2017-08-06      162    934        55     41.0   38.9      32.7
2017-09-06      149    921        59     35.8   39.5      35.6

In [16]:
stocks_df.stack(level=1)

                       P/E  Price
           Company
2017-05-06 Facebook   34.5    155
           Google     36.0    955
           Microsoft  29.8     68
2017-06-06 Facebook   40.1    150
           Google     37.8    925
           Microsoft  30.0     75
2017-07-06 Facebook   39.5    160
           Google     40.0    930
           Microsoft  31.0     60
2017-08-06 Facebook   41.0    162
           Google     38.9    934
           Microsoft  32.7     55
2017-09-06 Facebook   35.8    149
           Google     39.5    921
           Microsoft  35.6     59

>#### Cross Tabs/Contingency Tables

**Contingency Table**: Type of table in a matrix format that displays the frequency distribution of the variables

*`pd.crosstab()` parameters...*
- `dataframe.column1`, `dataframe.column2` (can also supply 2 or more columns to provide multi-header crosstabs)
- `margins=True`: gives the total of the crosstab
- `normalize="index"` OR `normalize="columns"`: returns the percentage (i.e. value/sum of values)
- `values=dataframe[column_name]` : (optional) Values to aggregate on as specified by `aggfunc`

In [17]:
file_name = "survey.csv"

survey_df = pd.read_csv(file_name)
survey_df.columns

Index(['Name', 'Nationality', 'Sex', 'Age', 'Handedness'], dtype='object')

In [18]:
pd.crosstab(survey_df["Sex"],survey_df["Handedness"], normalize='index')

Handedness      Left     Right
Sex
Female      0.400000  0.600000
Male        0.714286  0.285714

In [19]:
import numpy as np
# gives the mean age of Males & Females, who are right/left handed
pd.crosstab(survey_df["Sex"],survey_df["Handedness"], values=survey_df.Age, aggfunc=np.average)

Handedness  Left  Right
Sex
Female      44.5   31.0
Male        31.2   28.0

>#### Memory Optimisation Tips

Ref: (https://pythonspeed.com/articles/pandas-load-less-data/)

- `dataframe.info(verbose=False, memory_usage="deep")`: returns the memory used when importing the dataframe

- `dataframe = pd.read_csv(filename, usecols=['col1','col2'])`: returns only specific columns from the file, instead of importing the whole dataset

- `dataframe = dataframe[['col1','col2']]`: works in a similar way to `usecols`

- `dataframe = pd.read_csv(filename, dtype={'col1':'int8'})`: specifies dtype for integers (eg: int8 takes -127 to 128)

...and more such tips in the ref article

>#### Time Series: DateTime Functions

**Time Series Data**: Data points indexed in Time order. Datetime index is useful for slicing a subset based on date and directly referencing a row based on date

- *`dataframe.column_name.resample("W").mean()`*: Resamples the data into that particular column, in a weekly time frame (other options: "M" = monthly, "D" = daily, "Q" = quarterly)

- *`pd.date_range()`*: provides dates to a data set as a column. Parameters...
    - `start="start_date"`, `end="end_date"`
    - `freq='B'`: only count business days
Then use `dataframe.set_index(dates, inplace=True)` to re-date the dataframe

- *`pd.to_datetime()`* is a powerful tool that converts any of the following `['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05', '20170105']` to `'2017-01-05'`
    
    - For converting to European date style i.e. yyyy/mm/dd use `pd.to_datetime('5/1/2017', dayfirst=True)` OR specify the exact format using `pd.to_datetime('5/1/2017', format='%d/%m/%Y')`
    
    - For invalid date inputs, pass the following parameters in `pd.to_datetime()`:
        - *`errors="ignore"`*
        - *`errors="coerce"`*: to convert to 'NaT'
    
    - To convert from epoch to normal datetime use `normal_datetime = pd.to_datetime(epoch_time, unit='s')`. To convert back to epoch time, use `normal_datetime.view('int64')`

In [20]:
file_name = "apple_Jan2022.csv"

apple_stock_df = pd.read_csv(file_name, header=1, parse_dates=["Date"], index_col="Date")
apple_stock_df

              Open    High     Low   Close     Volume
Date
2022-01-03  177.83  182.88  177.71  182.01  104701220
2022-01-04  182.63  182.94  179.12  179.70   99310438
2022-01-05  179.61  180.17  174.64  174.92   94537602
2022-01-06  172.70  175.30  171.64  172.00   96903955
2022-01-07  172.89  174.14  171.03  172.17   86709147
2022-01-10  169.08  172.50  168.17  172.19  106765552
2022-01-11  172.32  175.18  170.82  175.08   76138312
2022-01-12  176.12  177.18  174.82  175.53   74805173
2022-01-13  175.78  176.62  171.79  172.19   84505760
2022-01-14  171.34  173.78  171.09  173.07   80440780
2022-01-18  171.51  172.54  169.41  169.80   91168729
2022-01-19  170.00  171.08  165.94  166.23   94814990
2022-01-20  166.98  169.68  164.18  164.51   91420515
2022-01-21  164.42  166.33  162.30  162.41  122848858
2022-01-24  160.02  162.30  154.70  161.62  162706686
2022-01-25  158.98  162.76  157.02  159.78  115798367
2022-01-26  163.50  164.39  157.82  159.69  108275308
2022-01-27  162.45  163.84  158.28  159.22  121954638
2022-01-28  165.71  170.35  162.80  170.33  179935660

In [21]:
# returns the average stock closing price per week
apple_stock_df.Close.resample('W').mean()

Date
2022-01-09    176.1600
2022-01-16    173.6120
2022-01-23    165.7375
2022-01-30    162.1280
Freq: W-SUN, Name: Close, dtype: float64

In [22]:
apple_stock_df_no_date = apple_stock_df.reset_index().drop("Date", axis=1)

apple_date_range = pd.date_range(start = "1/1/2022", end = "28/1/2022", freq="C")

# remove '2022-01-17'
apple_date_range = apple_date_range.delete(apple_date_range.get_loc('2022-01-17'))

# set index to the undated dataframe
apple_stock_df_no_date.set_index(apple_date_range, inplace=True)

An alternative way to remove the 17th Jan holiday would be to use the `USFederalHolidayCalender` module

In [29]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

usb = CustomBusinessDay(calendar=USFederalHolidayCalendar())

apple_stock_df_no_date = apple_stock_df.reset_index().drop("Date", axis=1)
apple_stock_df_no_date

apple_date_range = pd.date_range(start = "1/1/2022", end = "28/1/2022", freq=usb)
apple_date_range

# set index to the undated dataframe
apple_stock_df_no_date.set_index(apple_date_range, inplace=True)
apple_stock_df_no_date

              Open    High     Low   Close     Volume
2022-01-03  177.83  182.88  177.71  182.01  104701220
2022-01-04  182.63  182.94  179.12  179.70   99310438
2022-01-05  179.61  180.17  174.64  174.92   94537602
2022-01-06  172.70  175.30  171.64  172.00   96903955
2022-01-07  172.89  174.14  171.03  172.17   86709147
2022-01-10  169.08  172.50  168.17  172.19  106765552
2022-01-11  172.32  175.18  170.82  175.08   76138312
2022-01-12  176.12  177.18  174.82  175.53   74805173
2022-01-13  175.78  176.62  171.79  172.19   84505760
2022-01-14  171.34  173.78  171.09  173.07   80440780
2022-01-18  171.51  172.54  169.41  169.80   91168729
2022-01-19  170.00  171.08  165.94  166.23   94814990
2022-01-20  166.98  169.68  164.18  164.51   91420515
2022-01-21  164.42  166.33  162.30  162.41  122848858
2022-01-24  160.02  162.30  154.70  161.62  162706686
2022-01-25  158.98  162.76  157.02  159.78  115798367
2022-01-26  163.50  164.39  157.82  159.69  108275308
2022-01-27  162.45  163.84  158.28  159.22  121954638
2022-01-28  165.71  170.35  162.80  170.33  179935660

In [32]:
pd.to_datetime('5/1/2017', format='%d/%m/%Y')

Timestamp('2017-01-05 00:00:00')

>#### Time Series: Period

- Create a annual / month period object using `y = pd.Period('yyyy')` / `m = pd.Period('yyyy-m', freq='M')` <-- other frequencies like day,hour,etc are also available.
    - `y.start_time`, `y.end_time` / `m.start_time`, `m.end_time` = gives you the start and end date of the year/month respectively
    
    - `y+1` / `m+1` to go to the next year / month

    - Use `y.asfreq('M',how="start")` to covert a yearly frequecy to monthly frequency (in this eg)

- Create a period range using `pd.period_range('<start_year>','<end_year>',freq='M'/'Q')`

In [37]:
y = pd.Period('2021')
y+1

Period('2022', 'A-DEC')

In [45]:
# creating a quarterly period

q = pd.Period('2019Q1') 
# Output: Period('2019Q1', 'Q-DEC')
print("For a normal calendar Year...")
print('1st Quarter: {} to {}'.format(q.start_time, q.end_time))
print('2nd Quarter: {} to {}'.format((q+1).start_time, (q+1).end_time))
print('3rd Quarter: {} to {}'.format((q+2).start_time, (q+2).end_time))
print('4th Quarter: {} to {}'.format((q+3).start_time, (q+3).end_time))

q_fiscal = pd.Period('2019Q1', freq='Q-MAR')
print("\nFor a Fiscal Year...")
print('1st Quarter: {} to {}'.format(q_fiscal.start_time, q_fiscal.end_time))
print('2nd Quarter: {} to {}'.format((q_fiscal+1).start_time, (q_fiscal+1).end_time))
print('3rd Quarter: {} to {}'.format((q_fiscal+2).start_time, (q_fiscal+2).end_time))
print('4th Quarter: {} to {}'.format((q_fiscal+3).start_time, (q_fiscal+3).end_time))

For a normal Calendar Year...
1st Quarter: 2019-01-01 00:00:00 to 2019-03-31 23:59:59.999999999
2nd Quarter: 2019-04-01 00:00:00 to 2019-06-30 23:59:59.999999999
3rd Quarter: 2019-07-01 00:00:00 to 2019-09-30 23:59:59.999999999
4th Quarter: 2019-10-01 00:00:00 to 2019-12-31 23:59:59.999999999

For a Fiscal Year...
1st Quarter: 2018-04-01 00:00:00 to 2018-06-30 23:59:59.999999999
2nd Quarter: 2018-07-01 00:00:00 to 2018-09-30 23:59:59.999999999
3rd Quarter: 2018-10-01 00:00:00 to 2018-12-31 23:59:59.999999999
4th Quarter: 2019-01-01 00:00:00 to 2019-03-31 23:59:59.999999999

In [61]:
# creating a monthly frequency range from 2020 to 2021
yearly_range_20to21 = pd.period_range('2020','2021',freq='M')

yearly_range_20to21 # months of the year
yearly_range_20to21[0].start_time # start day of the month

Timestamp('2020-01-01 00:00:00')

In [69]:
# convert period index to datetime
timestamp_yearly_range_20to21 = yearly_range_20to21.to_timestamp()
timestamp_yearly_range_20to21

DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01',
               '2021-01-01'],
              dtype='datetime64[ns]', freq='MS')

In [70]:
# convert datetime to period index
yearly_range_20to21 = timestamp_yearly_range_20to21.to_period()
yearly_range_20to21

PeriodIndex(['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
             '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12',
             '2021-01'],
            dtype='period[M]', freq='M')

>#### Time Series: Timezones

Two types of datetime objects: Naive and Timezone aware

- Use `dataframe.tz_localize(tz='<timezone_name>')` to set a timezone and `dataframe.tz_convert(tz='<timezone_name>')` to convert to a different timezone [the list of timezones are given in the `pytz` module]

- Can also use `tz=<timezone_name>` in the `pd.date_range()` function to set the timezone in a particular date range

In [72]:
# list of all timezones
from pytz import all_timezones
all_timezones

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Timbuktu',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/ComodRivadavia',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Atka',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Buenos_Aires',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Catamarca',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Coral_Harbour',
 'America/Cordoba',
 'America/Costa_Rica',
 'America/Creston',
 'America/Cuiaba',
 'America/Curacao',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Dominica',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Ensenada',
 'America/Fort_Nelson',
 'America/Fort_Wayne',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Godthab',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Indianapolis',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Jujuy',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/Knox_IN',
 'America/Kralendijk',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Louisville',
 'America/Lower_Princes',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Marigot',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Mendoza',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/Montreal',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/Nipigon',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Nuuk',
 'America/Ojinaga',
 'America/Panama',
 'America/Pangnirtung',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Port_of_Spain',
 'America/Porto_Acre',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Punta_Arenas',
 'America/Rainy_River',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Rosario',
 'America/Santa_Isabel',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Shiprock',
 'America/Sitka',
 'America/St_Barthelemy',
 'America/St_Johns',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Thunder_Bay',
 'America/Tijuana',
 'America/Toronto',
 'America/Tortola',
 'America/Vancouver',
 'America/Virgin',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'America/Yellowknife',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/DumontDUrville',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/McMurdo',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/South_Pole',
 'Antarctica/Syowa',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Ashkhabad',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Calcutta',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Chongqing',
 'Asia/Chungking',
 'Asia/Colombo',
 'Asia/Dacca',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Harbin',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Istanbul',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kashgar',
 'Asia/Kathmandu',
 'Asia/Katmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macao',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qostanay',
 'Asia/Qyzylorda',
 'Asia/Rangoon',
 'Asia/Riyadh',
 'Asia/Saigon',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Tel_Aviv',
 'Asia/Thimbu',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ujung_Pandang',
 'Asia/Ulaanbaatar',
 'Asia/Ulan_Bator',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vientiane',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faeroe',
 'Atlantic/Faroe',
 'Atlantic/Jan_Mayen',
 'Atlantic/Madeira',
 'Atlantic/Reykjavik',
 'Atlantic/South_Georgia',
 'Atlantic/St_Helena',
 'Atlantic/Stanley',
 'Australia/ACT',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Canberra',
 'Australia/Currie',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/LHI',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/NSW',
 'Australia/North',
 'Australia/Perth',
 'Australia/Queensland',
 'Australia/South',
 'Australia/Sydney',
 'Australia/Tasmania',
 'Australia/Victoria',
 'Australia/West',
 'Australia/Yancowinna',
 'Brazil/Acre',
 'Brazil/DeNoronha',
 'Brazil/East',
 'Brazil/West',
 'CET',
 'CST6CDT',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Canada/Saskatchewan',
 'Canada/Yukon',
 'Chile/Continental',
 'Chile/EasterIsland',
 'Cuba',
 'EET',
 'EST',
 'EST5EDT',
 'Egypt',
 'Eire',
 'Etc/GMT',
 'Etc/GMT+0',
 'Etc/GMT+1',
 'Etc/GMT+10',
 'Etc/GMT+11',
 'Etc/GMT+12',
 'Etc/GMT+2',
 'Etc/GMT+3',
 'Etc/GMT+4',
 'Etc/GMT+5',
 'Etc/GMT+6',
 'Etc/GMT+7',
 'Etc/GMT+8',
 'Etc/GMT+9',
 'Etc/GMT-0',
 'Etc/GMT-1',
 'Etc/GMT-10',
 'Etc/GMT-11',
 'Etc/GMT-12',
 'Etc/GMT-13',
 'Etc/GMT-14',
 'Etc/GMT-2',
 'Etc/GMT-3',
 'Etc/GMT-4',
 'Etc/GMT-5',
 'Etc/GMT-6',
 'Etc/GMT-7',
 'Etc/GMT-8',
 'Etc/GMT-9',
 'Etc/GMT0',
 'Etc/Greenwich',
 'Etc/UCT',
 'Etc/UTC',
 'Etc/Universal',
 'Etc/Zulu',
 'Europe/Amsterdam',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belfast',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Bratislava',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Busingen',
 'Europe/Chisinau',
 'Europe/Copenhagen',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Guernsey',
 'Europe/Helsinki',
 'Europe/Isle_of_Man',
 'Europe/Istanbul',
 'Europe/Jersey',
 'Europe/Kaliningrad',
 'Europe/Kiev',
 'Europe/Kirov',
 'Europe/Lisbon',
 'Europe/Ljubljana',
 'Europe/London',
 'Europe/Luxembourg',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Mariehamn',
 'Europe/Minsk',
 'Europe/Monaco',
 'Europe/Moscow',
 'Europe/Nicosia',
 'Europe/Oslo',
 'Europe/Paris',
 'Europe/Podgorica',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Skopje',
 'Europe/Sofia',
 'Europe/Stockholm',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Tiraspol',
 'Europe/Ulyanovsk',
 'Europe/Uzhgorod',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zagreb',
 'Europe/Zaporozhye',
 'Europe/Zurich',
 'GB',
 'GB-Eire',
 'GMT',
 'GMT+0',
 'GMT-0',
 'GMT0',
 'Greenwich',
 'HST',
 'Hongkong',
 'Iceland',
 'Indian/Antananarivo',
 'Indian/Chagos',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Iran',
 'Israel',
 'Jamaica',
 'Japan',
 'Kwajalein',
 'Libya',
 'MET',
 'MST',
 'MST7MDT',
 'Mexico/BajaNorte',
 'Mexico/BajaSur',
 'Mexico/General',
 'NZ',
 'NZ-CHAT',
 'Navajo',
 'PRC',
 'PST8PDT',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Chuuk',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Enderbury',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Funafuti',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Johnston',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Majuro',
 'Pacific/Marquesas',
 'Pacific/Midway',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Pohnpei',
 'Pacific/Ponape',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Saipan',
 'Pacific/Samoa',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'Pacific/Truk',
 'Pacific/Wake',
 'Pacific/Wallis',
 'Pacific/Yap',
 'Poland',
 'Portugal',
 'ROC',
 'ROK',
 'Singapore',
 'Turkey',
 'UCT',
 'US/Alaska',
 'US/Aleutian',
 'US/Arizona',
 'US/Central',
 'US/East-Indiana',
 'US/Eastern',
 'US/Hawaii',
 'US/Indiana-Starke',
 'US/Michigan',
 'US/Mountain',
 'US/Pacific',
 'US/Samoa',
 'UTC',
 'Universal',
 'W-SU',
 'WET',
 'Zulu']

In [71]:
# setting a timezone
timestamp_yearly_range_20to21 = timestamp_yearly_range_20to21.tz_localize(tz='US/Eastern')
timestamp_yearly_range_20to21

DatetimeIndex(['2020-01-01 00:00:00-05:00', '2020-02-01 00:00:00-05:00',
               '2020-03-01 00:00:00-05:00', '2020-04-01 00:00:00-04:00',
               '2020-05-01 00:00:00-04:00', '2020-06-01 00:00:00-04:00',
               '2020-07-01 00:00:00-04:00', '2020-08-01 00:00:00-04:00',
               '2020-09-01 00:00:00-04:00', '2020-10-01 00:00:00-04:00',
               '2020-11-01 00:00:00-04:00', '2020-12-01 00:00:00-05:00',
               '2021-01-01 00:00:00-05:00'],
              dtype='datetime64[ns, US/Eastern]', freq=None)

In [73]:
# converting to a different timezone
india_timestamp_yearly_range_20to21 = timestamp_yearly_range_20to21.tz_convert(tz='Asia/Calcutta')
india_timestamp_yearly_range_20to21

DatetimeIndex(['2020-01-01 10:30:00+05:30', '2020-02-01 10:30:00+05:30',
               '2020-03-01 10:30:00+05:30', '2020-04-01 09:30:00+05:30',
               '2020-05-01 09:30:00+05:30', '2020-06-01 09:30:00+05:30',
               '2020-07-01 09:30:00+05:30', '2020-08-01 09:30:00+05:30',
               '2020-09-01 09:30:00+05:30', '2020-10-01 09:30:00+05:30',
               '2020-11-01 09:30:00+05:30', '2020-12-01 10:30:00+05:30',
               '2021-01-01 10:30:00+05:30'],
              dtype='datetime64[ns, Asia/Calcutta]', freq=None)

>#### Time Series: Shifting and Lagging

- Use `dataframe.shift(num)` to shift the values in a dataframe by a certain num of rows.
    - Enter num > 0, for shifting ahead
    - Enter num < 0, for shifting back

In [76]:
file_name = "google_Jan2022.csv"
google_stock_df = pd.read_csv(file_name, header=1, parse_dates=["Date"], index_col="Date")

In [83]:
# showcase previous day closing price
google_stock_df['prev_day_close'] = google_stock_df['Close'].shift(1)
google_stock_df[['Close','prev_day_close']]

# 1 day absolute price change
google_stock_df['prev_day_change'] = google_stock_df['Close'] - google_stock_df['prev_day_close']
google_stock_df[['Close','prev_day_close','prev_day_change']]

# 5 day price change %
google_stock_df['5day_return%'] = (google_stock_df['Close'] - google_stock_df['Close'].shift(5))*100/(google_stock_df['Close'].shift(5))
google_stock_df[['Close','5day_return%']]

              Close  5day_return%
Date
2022-01-03  2901.49           NaN
2022-01-04  2888.33           NaN
2022-01-05  2753.07           NaN
2022-01-06  2751.02           NaN
2022-01-07  2740.09           NaN
2022-01-10  2771.48     -4.480801
2022-01-11  2800.35     -3.046051
2022-01-12  2832.96      2.901851
2022-01-13  2782.62      1.148665
2022-01-14  2795.73      2.030590
2022-01-18  2725.81     -1.647856
2022-01-19  2713.04     -3.117825
2022-01-20  2670.13     -5.747699
2022-01-21  2601.84     -6.496755
2022-01-24  2607.44     -6.734914
2022-01-25  2534.71     -7.010760
2022-01-26  2584.80     -4.726801
2022-01-27  2582.42     -3.284859
2022-01-28  2665.79      2.457876